@import '../../styles/index';

.dtr {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 50px);
  grid-gap: 28px 30px;
  width: 850px;

  &--small {
    grid-template-rows: repeat(2, 22px);
    grid-gap: 8px 12px;
    width: 100%;
  }

  &__type {
    grid-column: auto / span 2;
    background: $gray-50;
    color: $gray-800;

    &--small {
      background: $gray-100;
      color: $gray-700;
    }
  }

  &__rh {
    background: $gray-500;
    color: $white;
    border: none!important;
  }

  &__cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid $gray-300;
    @include shadow-xs;
    @include text-xl-normal;

    &--red {
      background: $error-500;
    }

    &--yellow {
      background: $warning-500;
    }

    &--green {
      background: $success-500;
    }

    &--small {
      padding: 2px 0;
      // - shadow-xs
      mix-blend-mode: multiply;
      border-radius: 16px;
      border: none;
      @include text-xs;
    }

    &--small#{&}--red {
      color: $error-700;
      background: $error-50;
    }

    &--small#{&}--yellow {
      color: $warning-700;
      background: $warning-50;
    }

    &--small#{&}--green {
      color: $success-700;
      background: $success-50;
    }
  }
}
