@import 'variables';
@import 'palette';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $blue-gray-25;
  color: $black;
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1;
}
