$white: #FFF;

$gray-50: #F9FAFB;
$gray-300: #D0D5DD;
$gray-500: #667085;
$gray-800: #1D2939;

$error-100: #FEE4E2;
$error-200: #FECDCA;
$error-500: #F04438;
$error-600: #D92D20;
$error-700: #B42318;

$warning-500: #F79009;

$success-500: #12B76A;
